<%- include('../partials/header') %>

<h2>Flight Details </h2>
<h3>Airline:   <%= flight.airline  %>   </h3>
<h3>Airport:   <%= flight.airport  %>   </h3>
<h3>Flight No: <%= flight.flightNo %>   </h3>
<h3>Departs:   <%= flight.departs  %>   </h3>
<table>
  <thead>
    <tr>
    <th> Airport </th>
    <th> Arrival </th>
    </tr>
  </thead>
  <tbody>
    <% flight.destinations.forEach(function(d) { %>
      <tr>
        <td><%= d.airport  %> </td>
        <td><%= d.arrival %> </td>
      </tr>
    <% }); %>
    <tr>
      <form action="/flights/<%= flight._id %>/destinations" method="POST" autocomplete="off">  
      <td>
      <select name="airport">
        <option value="AUS"> AUS </option>
        <option value="DFW"> DFW </option>
        <option value="DEN"> DEN </option>
        <option value="LAX"> LAX </option>
        <option value="SAN"> SAN </option>
      </select>
    </td>
    <td> &nbsp
      <input type="datetime-local" name="arrival"> &nbsp 
      <button type="submit">Submit</button>
    </td>
    </form>
    </tr>
  </tbody>
</table>
<h3>Tickets</h3>
<table>
  <thead>
    <tr>
      <th> Seat </th>
       <th> Price </th>
     </tr>
     <tbody>
      <% tickets.forEach(function(t) { %>
        <tr>
          <td><%= t.seat  %> </td>
          <td><%= t.price %> </td>
        </tr>
      <% }); %> 
    </tbody>
  </thead>
</table>
<nav>
  <a href="/tickets/<%= flight._id %>/newTicket">ADD TICKET</a>
</nav>
<%- include('../partials/footer') %>